@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom class to ensure text gradients work across browsers */
.text-gradient {
  background-clip: text;
  -webkit-background-clip: text; /* Required for Webkit browsers like Safari */
  color: transparent;
  -webkit-text-fill-color: transparent;
}
